<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar bg-light sticky">
      <%= link_to 'Restaurants Home', restaurants_path, class: 'nav-item nav-link' %>
      <h3>Yelp</h3>
      <%= link_to 'Create New', new_restaurant_path, class: 'nav-item nav-link' %>
    </nav>
    <%= yield %>
  </body>
</html>
